<div class="container">
    <div class="column form-column">
      <div class="form-container">
        <form [formGroup]="salaryForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Nombre del empleado</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngIf="controlHasError('name', 'required')">El nombre es requerido.</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Salario por hora</mat-label>
            <input matInput formControlName="hourlyWage" type="number">
            <mat-error *ngIf="controlHasError('hourlyWage', 'required')">El salario por hora es requerido.</mat-error>
            <mat-error *ngIf="controlHasError('hourlyWage', 'min')">El salario por hora debe ser mayor que 0.</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Horas trabajadas</mat-label>
            <input matInput formControlName="hoursWorked" type="number">
            <mat-error *ngIf="controlHasError('hoursWorked', 'required')">Las horas trabajadas son requeridas.</mat-error>
            <mat-error *ngIf="controlHasError('hoursWorked', 'min')">Las horas trabajadas deben ser mayor que 0.</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Horas extras trabajadas</mat-label>
            <input matInput formControlName="overtimeHours" type="number">
            <mat-error *ngIf="controlHasError('overtimeHours', 'required')">Las horas extras trabajadas son requeridas.</mat-error>
            <mat-error *ngIf="controlHasError('overtimeHours', 'min')">Las horas extras trabajadas deben ser mayor que 0.</mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="salaryForm.invalid">Calcular Salario</button>
        </form>
      </div>
    </div>
  
    <div class="column">
      <div class="result" *ngIf="result">
        <h3>Resultados</h3>
        <mat-card>
          <mat-card-title>Salario Regular</mat-card-title>
          <mat-card-content>{{ result.regularSalary }}</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>Salario por Horas Extras</mat-card-title>
          <mat-card-content>{{ result.overtimeSalary }}</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>Deducciones</mat-card-title>
          <mat-card-content>{{ result.deductions }}</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>Salario Neto</mat-card-title>
          <mat-card-content>{{ result.netSalary }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  